@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
nav{
    background-color: #659DBD ;
    color: white;
    height: 15vh;
    width: 100vw;
    display: flex;
    /* align-items: center; */
	justify-content: center;
  
}
.logo{
	height: 15vh;
	width: 2vw;
	margin-left: 5vw;
    margin-right: 2vw;

}
.logo img{
    height: 12vh;
}
.bankname{
    width: 25vw;
    height: 15vh;
    display: flex;
    align-items: center;
	justify-content: center;
}
.bankname {
	display: flex;
    align-items: center;
	justify-content: center;
	margin: 0vh 1vw;
	color:#f5b120;
    font-family: 'Oswald', sans-serif;
    font-size: 4vh;
    font-weight: bold;
}

.content ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 15vh;
    width: 35vw;
}

nav ul li{
    list-style: none;
    padding: 0vw 1vw;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 3.5vh;
}
nav ul li a:hover{
    font-weight: bolder;
    color: white;
}
.content{
	width: 60vw;
	height: 15vh;
	display:  flex;
	align-items:center;
	justify-content: flex-end;
	

}
